/*
* === Variables ===
*/

$background-gray: #F5F5F5;
$border-gray: #CACACA;
$lightgray: #E0E0E0;
$darkgray: #A9A9A9;
$win-color: #3BBF3B;
$lose-color: #D41C1C;

$border-width: 2px;
$border-radius: 5px;


/*
* === Main styles ===
*/

#app {
	text-align: center;
	background: $background-gray;
  border: $border-width solid $border-gray;
  border-radius: $border-radius;
	&:after {
		content: "";
	  display: table;
	  clear: both;
	}
}

//reset button
button {
	display: block;
	margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background: none;
  outline: none;
  box-sizing: content-box;
}

.player {
	float: left;
	padding: 50px;
	&.right {
		float: right;
	}
}

.button {
	color: gray;
	border: $border-width dashed $darkgray;
	padding: 10px 20px;
	width: 100px;
  margin: 30px 10px;
	cursor: pointer;
	&:hover {
		border: $border-width solid $darkgray;
	}
	&.disabled:hover {
		border: $border-width dashed $darkgray;
	}
}

.move {
	padding: 20px;
	margin: 10px;
	width: 100px;
	color: gray;
	text-transform: uppercase;
	text-align: center;
	border: $border-width solid $lightgray;
	border-radius: $border-radius;
	cursor: pointer;

	&:hover {
		border-color: $darkgray;
	}
}

.scoreboard {
	display: inline-block;
	text-align: center;
	padding: 50px;

	&-text {
		color: gray;
		text-transform: uppercase;
		font-size: 26px;
		padding-bottom: 100px;
		margin: 0;
		padding: 0;
	}
}


/*
* === Modifiactor classes ===
*/

.active {
	background: $lightgray;
	&:hover {
		border-color: $lightgray;
	}
}


.hidden {
	visibility: hidden;
}

.disabled {
	cursor: not-allowed;
	&:hover {
		border: $border-width solid $lightgray;
	}
}

.winner {
	border: $border-width solid $win-color!important;
	box-shadow: 0 0 0 3px $win-color;
}

.loser {
	border: $border-width solid $lose-color!important;
	box-shadow: 0 0 0 3px $lose-color;
}

/*
* === Media query for small width devices ===
*/

@media (max-width: 850px) {
	body {
		margin: 0;
		background: $background-gray;
	}

	#app {
		border: none
	}

	.button {
		margin: 10px auto;
	}

	.move {
		display: inline-block;
		width: auto;
		padding: 5px;
		margin: 5px;
	}

	.player {
		padding: 0;
		float: none;
		&.right {
			float: none;
		}
	}

	.scoreboard {
		position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    right: 0px;
    width: 200px;
	}

	#player2 {
		float: none;
		position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
	}
}