<!doctype html>
<html>
<head>
	<title>Rock - Paper - Scissors</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="app">
		<section class="player" id="player1">
			<div class="move js-rock">
				Rock
			</div>
			<div class="move js-paper">
				Paper
			</div>
			<div class="move js-scissors">
				Scissors
			</div>
		</section>	
		<section class="scoreboard" id="scoreboard">
			Play
		</section>
		<section class="player" id="player2">
			<div class="move js-rock">
				Rock
			</div>
			<div class="move js-paper">
				Paper
			</div>
			<div class="move js-scissors">
				Scissors
			</div>
		</section>	
	</div>
</body>
</html>
